# Токены и секреты (САМОЕ ВАЖНОЕ)
.env

# Виртуальное окружение Python
venv/
env/
.venv/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Папка со скачанными видео (нам не нужны чужие видео в коде)
downloads/

# Бинарные файлы FFmpeg (для Windows), на сервере будет свой ffmpeg
ffmpeg.exe
ffprobe.exe
ffplay.exe

# Файлы настроек VS Code
.vscode/

# Логи ошибок
*.log
